@use "../abstracts/index" as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $font-main;
    color: $color-text;
    background: linear-gradient(
        90deg,
        $color-bg-start,
        $color-bg-end,
        $color-accent
    );
    background-size: 200% 200%;
    animation: gradient-shift 6s ease infinite alternate;
}

a {
    text-decoration: none;
}

@keyframes gradient-shift {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}
